# Salin file ini menjadi android/keystore.properties lalu isi nilainya.
# JANGAN commit android/keystore.properties (sudah ada di .gitignore).
storeFile=D:/KEYSTORES/aman-budget-release.keystore
storePassword=ISI_PASSWORD_KEYSTORE
keyAlias=aman-budget
keyPassword=ISI_PASSWORD_KEY
